html,
body {
	margin:0;
	padding:0;
	height:100%;
}

/* You can add global styles to this file, and also import other style files */
.btn-product {
    width: 100%;
  }

/* item styles */
.card {
  float: left;
  padding: .75rem;
  margin-bottom: 2rem;
  border: 0;
}

.card > img {
  height: 280px;
  width: 100%;
  object-fit: cover;
  object-position: center;
  margin-bottom: .75rem;
}

.card.sel-list {
  float: left;
  padding: 0;
  border: 0;
  margin: 0;
  background-color: inherit;
}

.table td {
  vertical-align: middle;
}

.card > img.sel-list {
  height: 75px;
  width: 75px;
  object-fit: cover;
  object-position: center;
  margin-bottom: .75rem;
}

.card-text {
  font-size: 85%;
}

.margin-bottom {
  margin-bottom: 10px;
}

#wrapper {
    min-height: 100%;
    position: relative;
}

#footer {
    width:100%;
    position:absolute;
    bottom:0;
    left:0;
}

#content {
    padding-bottom: 2rem;
}