<div class="modal-header">
	<h4 class="modal-title">Upplýsingar um vöru</h4>
	<button type="button" class="close" aria-label="Close" (click)="onCancel()">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<div class="modal-body">
	<form (submit)="onOk()">
		<div class="form-group">
			<label [attr.for]="product.name"> Nafn vöru</label>
			<input [(ngModel)]="product.name" type="text" name="product_name" 
				placeholder="t.d. Trefill" class="form-control" autofocus required />
		</div>
		<div class="form-group">
			<label [attr.for]="product.price"> Verð í kr</label>
			<input [(ngModel)]="product.price" type="text" name="product_price" 
				placeholder="t.d. 1200" class="form-control" required
				pattern="[0-9]*" />
		</div>
		<div class="form-group" [hidden]="editing">
			<label [attr.for]="product.quantityInStock"> Magn á lager</label>
			<input [(ngModel)]="product.quantityInStock" type="text" name="product_quantityInStock" 
				placeholder="t.d. 80" class="form-control" required
				pattern="[0-9]*" />
		</div>
		<div class="form-group">
			<label [attr.for]="product.imagePath"> Hlekkur á mynd</label>
			<input [(ngModel)]="product.imagePath" type="URL" name="product_imagePath" 
				placeholder="http://imgur.com/" class="form-control" />
		</div>

		<button type="button" class="btn btn-secondary" (click)="onCancel()"> Hætta </button>
		<input type="submit" class="btn btn-success" value="Ok" />
	</form>		
</div>
<div class="modal-footer">
	
</div>