<div class="modal-header">
	<h4 class="modal-title">Upplýsingar um vöru</h4>
	<button type="button" class="close" aria-label="Close" (click)="onCancel()">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<div class="modal-body">
	<form (submit)="onOk()">
		<div class="form-group">
			<label [attr.for]="product.name"> Nafn vöru <span class="text-danger">*</span></label>
			<input [(ngModel)]="product.name" type="text" name="product_name" 
				placeholder="" class="form-control" autofocus />
			<small *ngIf="nameError" class="form-text text-danger">{{nameError}}</small>
		</div>
		<div class="form-group">
			<label [attr.for]="product.price"> Verð í kr <span class="text-danger">*</span></label>
			<input [(ngModel)]="product.price" type="text" name="product_price" 
				placeholder="" class="form-control" />
			<small *ngIf="priceError" class="form-text text-danger">{{priceError}}</small>
		</div>
		<div class="form-group" [hidden]="editing">
			<label [attr.for]="product.quantityInStock"> Magn á lager <span class="text-danger">*</span></label>
			<input [(ngModel)]="product.quantityInStock" type="text" name="product_quantityInStock" 
				placeholder="" class="form-control" />
			<small *ngIf="quantityInStockError" class="form-text text-danger">{{quantityInStockError}}</small>
		</div>
		<div class="form-group">
			<label [attr.for]="product.imagePath"> Hlekkur á mynd</label>
			<input [(ngModel)]="product.imagePath" type="text" name="product_imagePath" 
				placeholder="http://imgur.com/" class="form-control" />
			<small *ngIf="pathError" class="form-text text-danger">{{pathError}}</small>
		</div>
		<small class="form-text">
			<span class="text-danger">*</span> Nauðsynlegar upplýsingar
		</small><br />
		<button type="button" class="btn btn-secondary" (click)="onCancel()"> Hætta </button>
		<input type="submit" class="btn btn-success" value="Ok" />
	</form>		
</div>
<div class="modal-footer">
	
</div>