<div class="container-fluid"> 
	<div class="col-sm-12">
		<div>
			<h2>Söluaðilar</h2>
		</div>
		<div class="text-right">
			<button type="button" class="btn btn-primary" (click)="addSeller()"> Bæta við Söluaðila</button>
		</div>
	</div>
	<div class="col-sm-12">
		<table class="table table-hover">
			<thead class="thead-inverse">
				<tr>
					<th> # </th>
					<th> Seljandi </th>
					<th> Flokkur </th>
				</tr>
			</thead>
			<tbody class="table-striped">
				<tr *ngFor="let s of sellers" (click)="GoToSellertDtl([s.id])">
					<td>
						<img class="img-fluid img-thumbnail rounded " src="{{s.imagePath}}" alt="Seller Profile" width="50" />
					</td>
					<td> 
						{{s.name}}
					</td>
					<td> 
						{{s.category}}
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<template ngbModalContainer></template>