<div class="container"> 
	<div class="col-sm-12">
		<div>
			<h2>Söluaðilar</h2>
		</div>
		<div class="text-right">
			<button type="button" class="btn btn-primary" (click)="addSeller()"> Bæta við Söluaðila</button>
		</div>
	</div>
	<div *ngIf="errorGettingSellers">
		<p>
			<ngb-alert [dismissible]="false" type="warning">
				Eitthvað fór úrskeiðis.
			</ngb-alert>
		</p>
	</div>
	<div *ngIf="finishedLoading">
		<div *ngIf="!noSellers">
			<div class="col-sm-12" id="list-sellers">
				<table class="table table-hover">
					<thead class="thead-inverse">
						<tr>
							<th> # </th>
							<th> Seljandi </th>
							<th> Flokkur </th>
							<th></th>
						</tr>
					</thead>
					<tbody class="table-striped">
							<tr *ngFor="let s of sellers">
								<td (click)="GoToSellertDtl([s.id])">
									<div class="card sel-list">
										<img class="img-fluid img-thumbnail rounded sel-list" src="{{s.imagePath}}" alt="Seller Profile" width="50" />
									</div>
								</td>
								<td (click)="GoToSellertDtl([s.id])"> 
									{{s.name}}
								</td>
								<td (click)="GoToSellertDtl([s.id])"> 
									{{s.category}}
								</td>
								<td>
									<button (click)="editSeller(s)" class="btn btn-info">Breyta </button>
								</td>
							</tr>					
					</tbody>
				</table>
			</div>
		</div>
		<div *ngIf="noSellers">
			<p>
				<ngb-alert [dismissible]="false" type="info">
					Engir söluaðilar til að birta!
				</ngb-alert>
			</p>
		</div>
	</div>
</div>
<template ngbModalContainer></template>