<div *ngIf="product" class="card mb-3">
	<img class="card-img-top img-fluid rounded-circle card-photo" [src]="product.imagePath" alt="Card image cap">
	<div class="card-block">
		<h4 class="card-title text-center">{{product.name}}</h4>

		<div class="row">
			<label *ngIf="product.price == 0" class="card-label text-success"><strong>Frítt!</strong></label>
			<label *ngIf="product.price > 0" class="card-label">Verð: {{product.price}} Kr.</label>
		</div>
		<div class="row">
			<label class="card-label">Á lager: {{product.quantityInStock}} stk</label>
		</div>
		
		<p class="card-text"><small class="text-muted">{{product.quantitySold}} stk hafa verið seld</small></p>
	</div>
	<div class="row">
		<div class="col-md-12 text-center">
			<a class="btn btn-primary btn-product" (click)="onEdit()" >BREYTA</a> 
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 text-center">
			<a class="btn btn-success btn-product">KAUPA</a>
		</div>
	</div>
</div>